html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size:10px;
  background: #fff;
}

body {
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

h4 {
    font-size: 12px;
}

#install, #installation-instructions {
    display: none;
}

#install.show-install, #installation-instructions.show-install {
    display: inline-block;
}

header {
  position: relative;
  z-index: 10;
  padding: 0;
  height: 5rem;
  color: #fff;
  background-color: #117F89;
  border: none;
}

header menu[type=toolbar] {
  float: right;
  margin-right: 20px;
}

header h1 {
    float: left;
    margin-left: 50px;
    width: 55%;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
}

#online-status {
    position: absolute;
    left: 10px;
    top: 2rem;
    width: 10px;
    height: 10px;
    color: #fff;
    background: #008000;
    border-radius: 5px;
}

#online-status.offline {
    background: #ff0000;
}

#main {
    padding: 1rem 1rem 6rem 1rem;
}

#main h2 {
    margin: 0 0 1rem;
}

#main img {
    max-width: 100%;
}

#main button {
    display: block;
    width: 49%;
    padding: 1em 0;
    vertical-align: top;
    margin: 0 auto 2rem;
}

#main #playback {
    display: none;
}

footer {
    position: fixed;
    width: 100%;
    height: 5rem;
    bottom: 0;
    background-color: #9EC16C;
}

footer [role="toolbar"] {
  float: right;
  margin-right: 20px;
}

footer [role="toolbar"] button {
  display: inline-block;
}